.footer {
  text-align: center;
  font-size: 18px;
  color: var(--primary-gray);
}

.footer ul {
  padding: 0px;
  margin-top: 25px;
}

.footer ul li { 
  list-style: none; 
  display: inline;
}

.footer ul li:not(:last-child):after { 
  content: "\2022";
  padding-left: 10px;
  padding-right: 10px;
}