textarea {
  width: 700px;
  height: 100px;
  background-color: var(--deep-gray);
  border: 3px solid var(--primary-gray);
  color: var(--primary-gray);
}

.button-parent {
  text-align: center;
}

.import-export-button {
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  color: var(--primary-gray);
  background-color: var(--deep-gray);
  border: 1px solid var(--primary-gray);
  transition: all 0.15s;
}

.import-export-button:hover {
  cursor: pointer;
  color: var(--secondary-gray);
  border: 1px solid var(--secondary-gray);
}

.successErrorMessage {
  font-style: italic;
}